<?xml version="1.0"?>
<!--
/**
 * Solwin Infotech
 * Solwin Product Print Page
 * 
 * @category   Solwin
 * @package    Solwin_Printpage
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="printpage" translate="label" sortOrder="110">
            <label>Print Page</label>
        </tab>
        <!-- for create section -->
        <section id="printsection" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <!-- Assign section to tab -->
            <tab>printpage</tab>
            <resource>Solwin_Printpage::printsection</resource>
            <!-- create group for fields in section -->
            <group id="printgroup" translate="label" type="select" delault="1" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <!-- create text type field -->
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_address" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Show address besides logo]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="address_note" translate="label" type="editor" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address</label>
                    <frontend_model>Solwin\Printpage\Block\Adminhtml\System\Config\Editor</frontend_model>
                    <depends>
                        <field id="active">1</field>
                        <field id="show_address">1</field>
                    </depends>
                </field> 
                <field id="show_additional_block" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Additional Block</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Show additional notes block in footer]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional Block Title</label>
                    <frontend_model>Solwin\Printpage\Block\Adminhtml\System\Config\Editor</frontend_model>
                    <depends>
                        <field id="active">1</field>
                        <field id="show_additional_block">1</field>
                    </depends>
                </field> 
                <field id="additional_note" translate="label" type="editor" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional Note</label>
                    <frontend_model>Solwin\Printpage\Block\Adminhtml\System\Config\Editor</frontend_model>
                    <depends>
                        <field id="active">1</field>
                        <field id="show_additional_block">1</field>
                    </depends>
                </field> 
            </group>
        </section>
    </system>
</config>