<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/system_file.xsd">
	<system>
		<tab id="orangemantra" translate="label" sortOrder="1">
			<label>Orange Mantra</label>
		</tab>
		<section id="support_config" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Support</label>
			<tab>orangemantra</tab>
			<resource>OM_Support::system_config</resource>
			<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Settings</label>
				<field id="enable_in_frontend" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable in frontend</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>				
				<field id="support_heading" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Support Heading Title</label>					                   
                    <comment>Fill head title of support list page at here</comment>
                    <validate>required-entry</validate>
				</field>
				<field id="support_categories" translate="label" type="multiselect" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Support Categories</label>					                   
                    <comment>Please select Support Categories</comment>
                    <source_model>OM\Support\Model\System\Config\Categories</source_model>
				</field>			
			</group>
		</section>
	</system>
</config>