<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
	<default>
		<support_config>
			<general>
				<enable_in_frontend>1</enable_in_frontend>
				<enable_in_sidebar_in_frontend>1</enable_in_sidebar_in_frontend>
				<support_heading>Customer Supports</support_heading>
				<support_block_position>1</support_block_position>
			</general>
		</support_config>
	</default>
</config>