<?xml version="1.0"?>
<!--
/**
 * Solwin Infotech
 * Solwin Product Print Page
 * 
 * @category   Solwin
 * @package    Solwin_Printpage
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <printsection>
            <printgroup>
                <active>0</active>
                <show_address>0</show_address>
                <address_note>Address here...</address_note>
                <show_additional_block>0</show_additional_block>
                <title>Notes</title>
                <additional_note>Additional notes..</additional_note>
            </printgroup>
        </printsection>
    </default>
</config>